.nav {
    display: flex;
    justify-content: space-between;
    background-color: #4ca3e5;
    padding: 1%;
    margin-bottom: 2%;
}

body, html {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbut {
    border: none;
    background-color: #4ca3e5;
    color: white;
}

.photo {
    border-radius: 50%;
    margin-left: 50%;
    width: 50%;
}

.name {
    display: flex;
    margin-left: 50%;
}

.ihalf {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkarea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 50%;
}

.link {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin: 5%;
    color: black;
    border: solid 1px;
    border-radius: 10%;
}

.icon {
    margin-top: 0%;
    margin-left: 5%;
}
