.nav {
    display: flex;
    justify-content: space-between;
    background-color: #4ca3e5;
    padding: 1%;
    margin-bottom: 2%;
}

body, html {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 30px;
}

.navbut {
    border: none;
    background-color: #4ca3e5;
    color: white;
    text-decoration: none;
}

.photo {
    border-radius: 50%;
    margin-left: 50%;
    width: 50%;
}

.name {
    display: flex;
    margin-left: 50%;
}

.ihalf {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: solid 1px #dee2e6;
    padding-right: 5%;
}

.linkarea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 50%;
    width: min-content;
}

.link {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin: 5%;
    color: black;
    border: solid 1px;
    border-radius: 10%;
    padding: 5%;
}

.icon {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 5%;
    height: fit-content;
}

.top {
    display: flex;
}

.rhalf {
    padding-left: 5%;
    width: 50%;
}

.rightnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 11%;
}

.content {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.header {
    padding-bottom: 5px;
    border-bottom: solid 1px #adb0b3;
}

.projectimage {
    width: 10%;
    height: 10%;
    border: solid 1px black;
    border-radius: 10%;
    margin-right: 2%;
}

.projects {
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;
}

.info {
    margin-bottom: 5%;
}

.projectinfo {
    font-size: larger;
}